<body>

    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer" style="margin-top: 30px;">
            <h1>Welkom op de Faskyn webshop!</h1>
            <p>Hieronder vind je de oorbellen, kettingen en ringen die momenteel in de aanbieding zijn. Deze kunnen zowel opgehaald of verzonden worden. De voorwaarden vind je <a href="#" data-toggle="modal" data-target="#voorwaardenModal">hier</a>.</p>
        </header>

        <div class="modal fade" id="voorwaardenModal" tabindex="-1" role="dialog" aria-labelledby="voorwaardenModal" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3 class="modal-title" id="myModalLabel">Algemene voorwaarden</h3>
              </div>
              <div class="modal-body">
                <p>Deze voorwaarden zijn van toepassing op alle bestellingen en overeenkomsten die via deze website tot stand zijn gekomen. 
                Bij iedere bestelling wordt de klant gevraagd deze algemene voorwaarden te aanvaarden.
                Faskyn heeft het recht deze algemene voorwaarden en de inhoud  van de website op iedere ogenblik eenzijdig te wijzigen.</p>
                <h4>Garantie</h4>
                <p>Bij Faskyn worden de aangekochte juwelen gratis hersteld, het gebruikte materiaal wordt wel aangerekend.
                In geval van schade aangebracht door de koper zullen er kosten aangerekend worden voor het herstel.
                Verzendkosten van het te repareren sieraad zijn voor rekening van de koper. Het verzenden van het herstelde sieraad is dan weer op kosten van Faskyn.
                Garantie is niet geldig voor artikelen onder de 10 Euro.</p>
                <h4>Prijzen</h4>
                <p>Alle prijzen zijn inclusief BTW en exclusief verzendkosten.
                Verzendkosten zijn 2.50 Euro per bestelling. Dit is een standaard tarief.
                Wenst u aangetekende verzending gelieve contact op te nemen.</p>
                <h4>Levering en betaling</h4>
                <p>Nadat de bestelling is geplaatst en de vooruitbetaling is gedaan worden de juwelen met zorg verpakt en verstuurd.
                U kan ook je juwelen persoonlijk afhalen, u betaald dan contant bij afhaling.</p>
                <h4>Retourneren</h4>
                <p>Ben je niet tevreden over kleur, model van je juweel kan je steeds retourneren.
                De sieraden dienen ongebruikt, onbeschadigd en in originele verpakking binnen de 10 dagen terug gezonden te worden.
                Na ontvangst zal de som zo vlug mogelijk teruggestort worden exclusief verzendkosten.</p>
              </div>
            </div>
          </div>
        </div>

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3></h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Titel</h3>
                        <p>Beschrijving</p>
                        <p>
                            <a href="#" class="btn btn-primary">Koop nu!</a> <a href="#" class="btn btn-default">Meer info</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Titel</h3>
                        <p>Beschrijving</p>
                        <p>
                            <a href="#" class="btn btn-primary">Koop nu!</a> <a href="#" class="btn btn-default">Meer info</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Titel</h3>
                        <p>Beschrijving</p>
                        <p>
                            <a href="#" class="btn btn-primary">Koop nu!</a> <a href="#" class="btn btn-default">Meer info</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Titel</h3>
                        <p>Beschrijving</p>
                        <p>
                            <a href="#" class="btn btn-primary">Koop nu!</a> <a href="#" class="btn btn-default">Meer info</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <ul class="legals">
                  <li><a href="#" data-toggle="modal" data-target="#voorwaardenModal">Voorwaarden</a></li>
                  <li><a href="mailto:anneke@faskyn.be">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>